{% extends "base.html" %}


{% block head %}

<style>
    div.full {
      width:100%;
      overflow:auto;
    }
    div.dirtree {
      width:33%;  
      float:left;
    }
    div.image-screen {
        width: 66%;
        float: right;
    }
</style>

{% endblock %}

{% block body %}


<div class="full">
    <div class="dirtree">
    <title>Path: {{ tree.name }}</title>
    <h1>{{ tree.name }}</h1>
    <ul>
    {%- for item in tree.children recursive %}
        <li id="click"> <a id="{{item.name}}" onClick="getFileName(this.id)">  {{ item.name }}  </a> 
        {%- if item.children -%}
            <ul  >   {{ loop(item.children) }}   </ul> 
        {%- endif %}</li>
    {%- endfor %}
    </ul>
    </div>

    <div class="image-screen">
        <pre id="output"></pre>
    </div>
    
</div>


<script>
    var output = document.getElementById('output');
    var xhr = new XMLHttpRequest();

    
    function getFileName (id) {
        file = id
        xhr.open('GET', '/logging-loop/' + file);
        xhr.send();
        console.log(id)
    }
    
    setInterval(function() {
       output.textContent = xhr.responseText;
    }, 1000);
</script>

{% endblock %}